---
layout: default
---

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
            <span class="author"><i class="icon-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

        <div class="entry">{{ content }}</div>

        <div id="pendingComments">
        </div>

        <form data-hubbub="#pendingComments" action="http://obscure-journey-9370.herokuapp.com/api/default/comments">
          <p>Your name: <input name="metadata_name"></p>
          <textarea name="comment" placeholder="Comment here"></textarea>
          <p><input type="submit" value="Comment"></p>
        </form>

        <footer><!-- additional info --></footer>

</article>
<script src="http://obscure-journey-9370.herokuapp.com/hubbub.js"></script>

